.mainWrapper{
    background-color: #fff;
    padding: 10rem 0rem 0rem 0rem;
}
 
.contentWrapper{
    width: 100%;
    display: grid;
    /* background-color: #aa2727; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    box-sizing: border-box;
    /* gap: 3rem; */
    overflow: hidden;
}

.subWrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    overflow: hidden;
/* 
    border: 1px solid #000;
    box-sizing: border-box; */
}

.imageWrapper{
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    aspect-ratio: 1;
    overflow: hidden;

}

.image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* aspect-ratio: 1; */
    object-fit: cover;
    object-position: center;
}

.porfolioMenu{
    font-size: 1.2rem;
    color: #8a8989;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    cursor: pointer;
    border-bottom: 2px solid #fff;

}

.porfolioMenu:hover{
    color: #000000;
    border-bottom: 2px solid #000000;
}



@media (max-width: 576px) {
    
    .contentWrapper{

        grid-template-columns: 1fr 1fr;

    }


    .porfolioMenu{
        font-size: 1.4rem;
    }

}





