body{ 
    /* background-color: #f8f7f3; */
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;

          
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;  

    -webkit-tap-highlight-color: transparent; /* For Safari and older versions of some browsers */

}




/* ::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.show-pointer{
    cursor: pointer;
}


.paint-grey{
    background-color: #afafaf;
}

.pt-section{
    padding-top: 10rem;
}

.pb-section{
    padding-bottom: 10rem;
}

.txt-title{
    width: fit-content;
    font-size: 3.5rem;
    color:#000;
    /* border: 1px solid #000; */
    padding: 0rem 0rem 1rem 0rem;
    margin-bottom: 3rem;
    position: relative;
    /* font-family: serif; */
}



.txt-description{
    font-size: 3.5rem;
}

 
.txt-primary{
    font-family: sans-serif;
    color: #481CA7;
}


.txt-san-serif{
    font-family:Arial, Helvetica, sans-serif;
}

.txt-serif{
    font-family: Helvetica;
}

.txt-cursive{
    font-family: 'Bradley Hand', cursive;
}

.txt-striked{
    text-decoration: line-through;
}
  
.txt-white{
    color: #fff;
}

.txt-dark{
    color: #000;
}

.txt-grey{
    color:#525252;
}
  
.txt-xl{
    font-size: 4rem;
}
  
.txt-l{
    font-size: 2rem;
}
  
.txt-m{
    font-size: 1.3rem;  
}

.txt-s{
    font-size: 1rem;
}



.txt-bold-m{
    font-weight: 700;
}

.txt-bold-l{
    font-weight: 1000;
}

.txt-dark{
    color: #000;
}

.txt-link{
    width: fit-content;
    text-decoration: none;
    color: #000;
    /* border: 1px solid #000; */
}



.btn-primary{
    background-color: #232323;
    /* width: fit-content; */
    height: fit-content;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.btn-primary:hover{
    /* background-color: #cd3e01; */
    background-color: #393939;

}

.btn-primary:active{
    background-color: #1c1a1a;
    /* background-color: #a13101; */

}


.btn-primary-long{
    background-color: #9A8D7F;
    width: 100%;
    height: fit-content;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.btn-primary-long:hover{
    /* background-color: #cd3e01; */
    background-color: #798465;

}

.btn-primary-long:active{
    background-color: #565e47;
    /* background-color: #a13101; */

}


.btn-admin-primary{
    background-color: #6571ff;
    height: fit-content;
    min-width: fit-content;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #7681f9;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.btn-admin-primary:hover{

    background-color: #5360ee;
    border: 2px solid #7681f9;

}

.btn-admin-primary:active{
    background-color: #3a4afa;
    border: 2px solid #7681f9;


}



.btn-secondary{
    background-color: #ffffff;
    /* width: fit-content; */
    height: fit-content;
    color: #9A8D7F;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    box-sizing: border-box;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    border: 2px solid #9A8D7F;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.btn-secondary:hover{
    background-color: #9A8D7F;
    color:#fff;
}

.btn-secondary:active{
    background-color: #565e47;
}



.btn-secondary-long{
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    color: #9A8D7F;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    box-sizing: border-box;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    border: 2px solid #9A8D7F;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.btn-secondary-long:hover{
    background-color: #9A8D7F;
    color:#fff;
}

.btn-secondary-long:active{
    background-color: #565e47;
}



.btn-admin-secondary{
    background-color: #ffffff;
    height: fit-content;
    min-width: fit-content;
    border-radius: 0.25rem;
    color: #6571ff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #7681f9;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.btn-admin-secondary:hover{
    color: #fff;
    background-color: #5360ee;
    border: 2px solid #7681f9;

}

.btn-admin-secondary:active{
    background-color: #3a4afa;
    border: 2px solid #7681f9;


}



.btn-long{
    background-color: #778261;
    width: 100%;
    height: fit-content;
    border-radius: 0.3rem;
    color: #fff;
    font-size:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
}

.btn-long:hover{
    background-color: #565e47;
}

.btn-long:active{
    background-color: #3f4434;
}

.image-wrapper-square{
    width: 100%;
    aspect-ratio: 1;
    display: flex;

}

.image-fill{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 576px) {

    .txt-title{
        font-size: 3.5rem;
    }
    

    .txt-xl{
        font-size: 4rem;
    }
      
    .txt-l{
        font-size: 3rem;
    }
      
    .txt-m{
        font-size: 1.5rem;  
    }
    
    .txt-s{
        font-size: 1.3rem;
    }
  
    .txt-title-s{
        font-size: 3.5rem;
    }
    

    .txt-xl-s{
        font-size: 4rem;
    }
      
    .txt-l-s{
        font-size: 3rem;
    }
      
    .txt-m-s{
        font-size: 1.5rem;  
    }
    
    .txt-s-s{
        font-size: 1.3rem;
    }
    
  
    .btn-primary{
        /* background-color: #ed4700; */
        background-color: #232323;

        /* width: fit-content; */
        height: fit-content;
        /* border-radius: 2rem; */
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        box-sizing: border-box;
    }

    .btn-primary:hover{
        /* background-color: #ed4700; */
        background-color: #232323;

    }

    .btn-primary:active{
        /* background-color: #ed4700; */
        background-color: #1c1a1a;
    }


    .btn-secondary{
        background-color: #ffffff;
        /* width: fit-content; */
        height: fit-content;
        /* border-radius: 1.3rem; */
        color: #9A8D7F;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        padding: 1.5rem 0rem 1.5rem 0rem;
        box-sizing: border-box;
    }
    
    .btn-secondary:hover{
        background-color: #ffffff;
        color: #9A8D7F;
    }
    
    .btn-secondary:active{
        background-color: #9A8D7F;
        color: #ffffff;
    }


    .btn-long{
        background-color: #778261;
        width: 100%;
        height: fit-content;
        border-radius: 0.3rem;
        color: #fff;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        padding: 1rem 2rem 1rem 2rem;
        box-sizing: border-box;
    }
    
    .btn-long:hover{
        background-color: #565e47;
    }
    
    .btn-long:active{
        background-color: #3f4434;
    }


}




